In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
import pandas as pd

data = pd.read_csv('user_behavior_dataset.csv')

In [6]:
data.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [7]:
feature = data.drop(['User ID','Device Model'], axis=1)
feature

,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,Android,393,6.4,1872,67,1122,40,Male,4
1,Android,268,4.7,1331,42,944,47,Female,3
2,Android,154,4.0,761,32,322,42,Male,2
3,Android,239,4.8,1676,56,871,20,Male,3
4,iOS,187,4.3,1367,58,988,31,Female,3
...,...,...,...,...,...,...,...,...,...
695,iOS,92,3.9,1082,26,381,22,Male,2
696,Android,316,6.8,1965,68,1201,59,Male,4
697,Android,99,3.1,942,22,457,50,Female,2
698,Android,62,1.7,431,13,224,44,Male,1
699,Android,212,5.4,1306,49,828,23,Female,3

In [8]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

os_label = labelencoder.fit_transform(feature['Operating System'])

gender_label = labelencoder.fit_transform(feature['Gender'])

feature_date = feature.drop(['Operating System','Gender','User Behavior Class'],axis=1)

feature_date['os'] = os_label
feature_date['gender'] = gender_label

feature_date

,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,os,gender
0,393,6.4,1872,67,1122,40,0,1
1,268,4.7,1331,42,944,47,0,0
2,154,4.0,761,32,322,42,0,1
3,239,4.8,1676,56,871,20,0,1
4,187,4.3,1367,58,988,31,1,0
...,...,...,...,...,...,...,...,...
695,92,3.9,1082,26,381,22,1,1
696,316,6.8,1965,68,1201,59,0,1
697,99,3.1,942,22,457,50,0,0
698,62,1.7,431,13,224,44,0,1
699,212,5.4,1306,49,828,23,0,0

In [9]:
feature_date.columns

Index(['App Usage Time (min/day)', 'Screen On Time (hours/day)',
       'Battery Drain (mAh/day)', 'Number of Apps Installed',
       'Data Usage (MB/day)', 'Age', 'os', 'gender'],
      dtype='object')

In [10]:
target_data = data['User Behavior Class']
target_data

0      4
1      3
2      2
3      3
4      3
      ..
695    2
696    4
697    2
698    1
699    3
Name: User Behavior Class, Length: 700, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature_date, target_data, test_size=0.2, random_state=42)

In [12]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)

model.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
y_pred = model.predict(X_test)

# from sklearn.metrics import accuracy_score

accuracy = model.score(X_test,y_test)

print(f"Accuracy of the model: {accuracy:.2f}")

Accuracy of the model: 1.00

In [17]:
input_data = []
para =['What is your minimum App usage time for a day in minutes?\n',
       'What is your screen time for a day in hours?\n',
       'How much battery your using for a day in mAH?\n',
       'How many apps you installed on your mobile?\n',
       'How much data/internet your using for a day in MB?\n',
       'What is your age?\n',
       'What OS your using on your mobile\n0. Andriod\n1. iOS\n',
       'What is your gender\n1. Male\n0. Female\n',]

for x in para:
    input_data.append(int(input(x)))

out = model.predict([input_data])

print("\n\n")

if out[0] < 3:
    print(f"I think you are using your phone less. And my rating of your usage is : {out[0]}")
elif out[0] == 3:
    print(f"I think you are using your phone normally don't use more. And my rating of your usage is : {out[0]}")
elif out[0] > 3:
    print(f"I think you are using too much. you should reduce. And my rating of your usage is : {out[0]}")
else:
    print("Sorry, I can't predict.")

print("\n\n")

What is your minimum App usage time for a day in minutes?
200
What is your screen time for a day in hours?
2
How much battery your using for a day in mAH?
50
How many apps you installed on your mobile?
15
How much data/internet your using for a day in MB?
15
What is your age?
41
What OS your using on your mobile
0. Andriod
1. iOS
0
What is your gender
1. Male
0. Female
1



I think you are using your phone less. And my rating of your usage is : 1